body{
    margin: 0;
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

/* Start of Navbar stuff */
#navbar{
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    transition: transform 0.7s ease-in-out;
    transform: translateY(0);
    z-index: 1000;
}
#navbar.hidden{
     top: -100px; /*moves navbar out of view when scrolling down */
}
.nav-btn{
    background-color: #D32F2F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    line-height: 1.5rem;
    padding: 5px 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 5px;
}
.nav-btn:hover{
    background-color: #FFD600;
    color: black;
    cursor:pointer;
}
.nav-search{
    background-color: #FFFDE7;
    color: 212121;
    border: 0;
    border-radius: 4px;
    padding: 6px 10px;
    line-height: 1.5rem;
    margin: 5px;
}
.nav-search::placeholder{
    color: #757575;
}
/* End of navbar stuff */


.productsWrapper{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;

    outline: 1px solid #B71C1C;
}
.sectionHeader{
    margin: 0 auto;
    width: 80%;
    padding: 20px 0;

    outline: 1px solid #B71C1C;
}
.featuredSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;

    outline: 1px solid #B71C1C;
}
.featuredItem{
    flex: 1 1 250px;
    text-align: center;
    border-radius: 4px;
    min-width: 200px;
    justify-content: center;

  outline: 1px solid #B71C1C;
}
.featuredItem img{
    
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}
.catSection,.popularSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;

    outline: 1px solid #B71C1C;
}
.category,.popularProduct{
    flex: 1 1 22%;
    text-align: center;
    padding: 20px;
    border-radius: 4px;

    outline: 1px solid #B71C1C;
}
