body{
    margin: 0;
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

/* Start of Navbar stuff */
#navbar{
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    transition: transform 0.7s ease-in-out;
    transform: translateY(0);
    z-index: 1000;
    padding: 5px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
#navbar.hidden{
     top: -100px; /*moves navbar out of view when scrolling down */
}
.nav-btn{
    background-color: #D32F2F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    line-height: 1.5rem;
    padding: 5px 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 5px;
}
.nav-btn:hover{
    background-color: #FFD600;
    color: black;
    cursor:pointer;
}
.nav-search,.login-info{
    background-color: #FFFDE7;
    color: 212121;
    border: 0;
    border-radius: 4px;
    padding: 6px 10px;
    line-height: 1.5rem;
    margin: 5px;
}
.nav-search::placeholder{
    color: #757575;
}
/* End of navbar stuff */


.productsWrapper{
    width: 80%;
    margin: 10px auto;
    background-color: #FFFFFF;
    outline: 1px solid rgba(128, 128, 128, 0.527);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.sectionHeader{
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    outline: 1px solid #B71C1C;
}
.featuredSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;

}
.featuredItem{
    flex: 1 1 250px;
    text-align: center;
    border-radius: 4px;
    min-width: 200px;
    justify-content: center;

    outline: 1px solid rgba(128, 128, 128, 0.116);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.featuredItem:hover,
.category:hover,
.popularProduct:hover
{
    cursor: pointer;
}
.featuredItem img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}
.catSection,.popularSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;

    outline: 1px solid #B71C1C;
}
.category{
    flex: 1 1 22%;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    flex-direction: column;

    outline: 1px solid #B71C1C;
}
.popWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.popularProduct{
    flex: 1 1 22%;
    text-align: center;
    border-radius: 4px;
    flex-direction: column;

    outline: 1px solid #B71C1C;
}
.addToCart-btn, .submit-btn{
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #D32F2F;
    color: #FFFFFF;
    cursor: pointer;
    border:none;
    font-size: 16px;
}
.addToCart-btn:hover{
    background-color: #B71C1C;
}
.addToCart-btn:active{
    background-color: #880E4F;
    color: #FFFDE7;
}


#forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 20px 35px;
    border-radius: 4px;
    outline: 1px solid rgba(128, 128, 128, 0.116);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#login-form,#register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.fields{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login-info{
    border: 1px solid rgba(128, 128, 128, 0.116);
}